<!DOCTYPE html>
<html>
<head>
	<title>confirm</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<form class="form-inline" method="post" action="frege.html">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">enter otp send to {{var[0]}}</div>
      <input type="text" class="form-control" name="otp" id="exampleInputAmount" placeholder="Amount">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</body>
</html>